pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.README.md.~undo-tree~
/learning/state-machine/src/state_machine/*.clj#
/learning/state-machine/src/state_machine/time-power.clj~
